
body {
  font-family: 'Roboto', sans-serif;
  /* background-image: linear-gradient(to right, #ff0844, #ff5253, #ff7766, #ff957d, #ffb199); */
  margin: 0;
  padding: 0;
  font-weight: 300;
  position: relative;
  overflow: hidden;
}

.redcolor{
/* position: absolute; */
/* background:-webkit-linear-gradient(rgb(237, 48, 65), rgb(234, 60, 76)),url(images/mainpage.jpg); */
/* background:-o-linear-gradient(rgb(237, 48, 65), rgb(234, 60, 76)),url(images/mainpage.jpg); */
background:url(../images/mainpage.jpg) center center no-repeat;

background-image: linear-gradient(rgba(237, 48, 65,0.7), rgba(234, 60, 76,0.8)),url(../images/mainpage.jpg);
float: left;
/* background:#ed3041; */
width: 50%;
/* opacity: .7; */
height: 100vh;
}

.container{
  /* float: right; */
width: 100%;
background: yellow;
height: 100%;
padding-top: 200px;
margin-left: 680px;
padding-left:200px;
padding-bottom: 200px;
}

.container p{
  margin-top: 180px;
}
span{
  color: red;
}
button{
  background-color:#ed3041;
  border: none;
  color: white;
  padding: 25px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 30px;
  cursor: pointer;
  box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.3);
  transition: all ease-in 300ms;
}
button:hover{
  box-shadow: 0 27px 20px -20px rgba(0,0,0,0.2);
}
